name: Publish NuGet Package

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - run: dotnet restore
    - run: dotnet build -c Release --no-restore
    - run: dotnet pack src/SFID.Shared.Interface/SFID.Shared.Interface.csproj -c Release -o out

    - name: Publish
      run: dotnet nuget push out/*.nupkg \
        --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" \
        --api-key ${{ secrets.GITHUB_TOKEN }}
